{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              Venezuela
            </h1>
         </div>
         <p>
            Este plugin está en desarrollo. Por ahora se ha añadido el <b>Plan de cuentas de Venezuela</b>
            para que puedas importarlo en los ejercicios. Pruébalo ;-)
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-default">
            Establecer Bolívar (VEF) como moneda por defecto
         </a>
         <br/>
      </div>
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-default">
            Establecer Venezuela como pais por defecto
         </a>
         <br/>
      </div>
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=iva" class="btn btn-block btn-default">
             Añadir IVA para Venezuela
          </a>
          <br/>
       </div>
   </div>
</div>

{include="footer"}
